.stamp {
  transform: rotate(12deg);
	color: rgb(85, 85, 85);
	font-size: 1rem;
	font-weight: 900;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
  mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
	font-family: 'Courier';
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mask-size: 944px 604px;
	mix-blend-mode: inherit
}

.is-nope {
  color: #D23;
  border: 0.5rem double #D23;
  transform: rotate(9deg);
	-webkit-mask-position: 2rem 3rem;
  mask-position: 2rem 3rem;
}

.is-approved {
	color: #4cbd0b;
	border: 0.5rem solid #0A9928;
	-webkit-mask-position: 13rem 6rem;
  mask-position: 13rem 6rem;
	transform: rotate(-14deg);
  border-radius: 0;
} 

.is-draft {
	color: #C4C4C4;
	border: 1rem double #C4C4C4;
	transform: rotate(-5deg);
  font-size: 6rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.5rem;
} 